<mat-toolbar color="primary">
  <span>Novo Contatos</span>
</mat-toolbar>

<form [formGroup]="contatcForm" class="form" (ngSubmit)="createContact()">
  <mat-form-field appearance="standard">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Telefone</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>

  <div class="actions">
    <a routerLink="/contacts" mat-raised-button>Cancelar</a>
    <button type="submit" mat-raised-button color="primary" [disabled]="contatcForm.invalid">Criar</button>
  </div>

</form>
