<mat-toolbar color="primary">
  <span>Detalhes do Contatos</span>
</mat-toolbar>

<div class="form">
  <mat-form-field appearance="standard">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Telefone</mat-label>
    <input matInput>
  </mat-form-field>

  <div class="actions">
    <a routerLink="/contacts" mat-raised-button>Voltar para lista</a>
    <button type="submit" mat-raised-button color="primary">Salvar</button>
  </div>

</div>
