<mat-toolbar color="primary">
  <span>Contatos</span>
</mat-toolbar>

<mat-nav-list class="list">
  <mat-list-item *ngFor="let contact of contacts">
    <a matLine [routerLink]="['/contacts', contact.id]">{{ contact.name }}</a>
    <button mat-icon-button (click)="deleteContact(contact)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<a class="create" routerLink="/contacts/create" mat-fab color="primary" aria-label="Novo Contato">
  <mat-icon>add</mat-icon>
</a>
